<%- include('../header.ejs') %>
<div class="container-fluid" style="margin-top: 200px; margin-bottom: 300px;">
    <div class="row">
        <%- include('./sidebar.ejs') %>
        <div class="col-md-9" id="admin">
            <h1>Welocome,admin<br>Dashboard admin@123gmail.com</h1>
            <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, asperiores ducimus. Hic nobis adipisci aut quo amet fugiat quas quidem!</h5>
        </div>
    </div>
  </div>
  <%- include('../footer.ejs') %>