<div class="col-md-3" id="main-admin-menu-bar">
    <table style="text-align: center;">
        <tr>
            <td><button class="admin-btn"><a href="/admin/dashboard" class="admin-btn-content">DASHBOARD</a></button></td>
        </tr>
        <tr>
            <td><button class="admin-btn2"><a href="/admin/blog/display" class="admin-btn-content2">BLOGS</a></button></td>
        </tr>
        <tr>
            <td><button class="admin-btn3"><a href="/admin/category/display" class="admin-btn-content">CATGORIES</a></button></td>
        </tr>
        <tr>
            <td><button class="admin-btn4"><a href="" class="admin-btn-content">CHANGE PASSWORD</a></button></td>
        </tr>
        <tr>
            <td><button class="admin-btn5"><a href="/admin/about/display" class="admin-btn-content">ABOUT</a></button></td>
        </tr>
        <tr>
            <td><button class="admin-btn6"><a href="" class="admin-btn-content">USER</a></button></td>
        </tr>
        <tr>
            <td><button class="admin-btn7"><a href="" class="admin-btn-content">CONTACT</a></button></td>
        </tr>
        <tr>
            <td><button class="admin-btn8"><a href="" class="admin-btn-content">LOGOUT</a></button></td>
        </tr>
    </table>
</div>