<!-- footer is start -->
<footer>
    <div class="container-fluid" id="footer-container">
      <div class="row">
        <div class="col-md-4">
          <a href=""><img src="../../Images/logo.ico" alt="logo" class="logo-footer"></a>
        </div>
        <div class="col-md-8" style="padding: 35px;">
          <h2 class="h-footer">Contact me</h2>
          <p class="p-footer">"We're so confident that you'll be happy with our services that we offer a 100% satisfaction guarantee. If you're not happy with our work, we'll refund your money, no questions asked."</p>
          <div class="row">
            <div class="col-md-6">
              <h3 class="h-footer">Adreess</h3>
              <p class="p-footer">Near shera wali mata ka mandir, Hari pura, Dabra (475110),Gwalior</p>
            </div>
            <div class="col-md-6">
              <h3 class="h-footer">Other Enquiery</h3>
              <p class="p-footer">Emai:rohitjoshi552365@gmail.com</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 class="h-footer">Contact on Social media</h3>
              <a href="https://www.instagram.com/mishraji.172/"><i class="fa-brands fa-square-instagram" id="i-footer"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100073290454807"><i class="fa-brands fa-square-facebook" id="i-footer"></i></a>
              <a href="https://twitter.com/rohit8093032891"><i class="fa-brands fa-square-twitter" id="i-footer"></i></a>
              <a href="https://github.com/Joshibhaiya"><i class="fa-brands fa-square-github" id="i-footer"></i></a>
              <a href="https://www.linkedin.com/in/rohit-joshi-b34641250/"><i class="fa-brands fa-linkedin" id="i-footer"></i></a>
            </div>
            <div class="col-md-6">
              <h3 class="h-footer">Other help</h3>
              <p class="p-footer">Email: cs1155880@gmail.com</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h3 class="h-footer">Visit our Website</h3>
                <a href=""><i class="fa-solid fa-earth-americas" id="i-footer"></i></a>
              </div>
              <div class="col-md-6">
                <h3 class="h-footer">Contact on</h3>
                <p class="p-footer"><a href=""><i class="fa-solid fa-phone" id="i-footer"></i></a>+91 7999410764</p>
                <p class="p-footer"><a href=""><i class="fa-brands fa-square-whatsapp" id="i-footer"></i></a>+91 7489878764</p>
              </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer is end -->
  <!-- footer is end -->
  <script src="../details.js"></script>
</body>
</html>